h1,
h2,
h3 {
  line-height: 1.2;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  transition: background 0.1s ease-out;
}
a {
  color: var(--color-secondary);
  text-decoration: none;
}


@font-face {
  font-family: "Zu";
  src: url("/fonts/Fezzyv2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ESA";
  src: url("/fonts/Environmental-Station-Alpha.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trunic";
  src: url("/fonts/Tunic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
