@import url("https://fonts.googleapis.com/css?family=Manrope");

.container {
  margin: auto;
  max-width: 800px;
  font-family: "Manrope", sans-serif;
}

.main {
  font: 18px/1.5 "Manrope", sans-serif;
}

.footer {
  height: 100px;
}
